body{
	background: gray;
}
div{
	width:600px;
	margin:auto;
	font-family: sans-serif;
}
blockquote{
	margin-left:0;
	width:500px;
	text-align:center;
	margin:right:0;
	border: 1px white solid;
	margin-bottom:10px;
}
